<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<title>Online grocery store</title>
<link href="style.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" style="width: 35%;" id="mySidebar">
  <h3 class="good"><img src="images/User.png" style="width:50px;height:50px;">  Hello User</h3>
  <a href="#" class="w3-bar-item w3-button" style="font-size: 22px;">Home</a>
  <a href="#" class="w3-bar-item w3-button" style="font-size: 22px;">Orders</a>
  <a href="#" class="w3-bar-item w3-button" style="font-size: 22px;">Review Your Purchase</a>
  <a href="#" class="w3-bar-item w3-button" style="font-size: 22px;">Wish List</a>
  <a href="#" class="w3-bar-item w3-button" style="font-size: 22px;">Settings</a>
  <a href="#" class="w3-bar-item w3-button" style="font-size: 22px;">FAQs</a>
  <button onclick="w3_close()" class="w3-bar-item w3-large" style="font-size: 22px; color: brown;"><b>Close</b>  &times;</button>
</div>

<!-- Page Content -->
<div class="top">
  <div class="main">
      <table>
          <tbody>
          <tr>
            <td><button class="w3-button  w3-xlarge" onclick="w3_open()">☰</button></td>
     <td><div class="container display-container"></div>
      <div class="col-md" id="heading-logo"><h2><img src="images/logo.png" style="width:200px;height:50px;"></h2></td>
        <div class="topnav-right">
          <a href="#Addtocart" class="cart"><img src="images/cart.png" style="width:60px;height:50px; padding-top: 25%; padding-right: 30%;"></a>
        </div>
      
     
  </tr>
  </tbody>
  </table>
  </div>

</nav>
<nav class="navbar-toggler">
    <form class="d-print-inline" role="search">
        <input class="form-control me-lg-1" type="search" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>
<div class="w3-content">

    <div class="w3-row w3-margin">
    
    <div class="w3-third">
      <img src="images/Rusk.jpeg" style="width:70%;min-height:50px">
      <br>
    </div>
    <div class="w3-twothird w3-container">
      <h2>Parle Rusk Premium Quality of toast 200 gm </h2>
      <p>

      </p>
      <p>
      Flavour name: Elaichi<br/>
      Size:200gm (Pack of 1)
     </p>
      <h4>
        Rs 40.00
      </h4>
      <button class="button"><b>+Add</b></button>
      <p>
        (Rs 40.00/pack)
      </p>
     <br>
      <hr class="line">
        
    </div>
    <br>
    </div>
    <div class="w3-row w3-margin">
    
    <div class="w3-third">
      <img src="images/Amulmilk.jpeg" style="width:80%;min-height:50px">
    <br>
    </div>
    <div class="w3-twothird w3-container">
      <h2>Amul Gold Fresh Full Cream Milk ,500ml Pouch</h2>
      <p>
        Discount: Rs 2.00 Off<br/>
        Size:500ml (Pack of 1)
      </p>
      <h4>
        Rs 28.00
      </h4>
      <button class="button"><b>+Add</b></button>
      <p>
        (Rs 56.00/L)
      </p>
      <br>
      <hr class="line">
    </div>
    <br>
    </div>
    <div class="w3-row w3-margin">
    
    <div class="w3-third">
      <img src="images/britanniatiffincake.webp" style="width:80%;min-height:200px">
      <br>
    </div>
    <div class="w3-twothird w3-container">
      <h2>Britania Cake Tiffin Box Fun 25 gm 10 Pouches</h2>
      <p>
        Flavour name: Mixfruit<br/>
        Size:250gm (Pack of 10)
      </p>
      <h4>
        Rs 100.00
      </h4>
      <button class="button"><b>+Add</b></button>
      <p>
        (Rs 10/pouch)
      </p>
      <br>
      <hr class="line">
    </div>
    <br>
     </div>
    <div class="w3-row w3-margin">
    
    <div class="w3-third">
      <img src="images/Curd.jpeg" style="width:80%;min-height:200px">
      <br>
    </div>

    <div class="w3-twothird w3-container">
      <h2>Amul Masti Dahi Goodness With Every Spoon,400gm Pouch</h2>
      <p>
        Buy 3 Get 1 Free <br>
        Size:400gm (Pack of 1)
      </p>
      <h4>
        Rs 34.00
      </h4>
      <button class="button"><b>+Add</b></button>
      <p>
        (Rs 85.00/Kg)
      </p>
      <br>
      <hr class="line">
    </div>
    <br>
    <br>
      </div>
    <div class="w3-row w3-margin">
    
    <div class="w3-third">
      <img src="images/hidenseek.jpeg" style="width:80%;min-height:200px">
    </div>
    <div class="w3-twothird w3-container">
      <h2>Parle Hide & Seek Chocochips Cookies ,33gm Pack</h2>
      <p>
        5% Extra <br>
        Flavour name: Chocalate<br/>
        Size:66gm (Pack of 2)
      </p>
      <h4>
        Rs 20.00
      </h4>
      <button class="button"><b>+Add</b></button>
      <p>
        (Rs 10.00/Pack)
      </p>
      <br>
      <hr class="line">
    </div>
    
     </div>
    <div class="w3-row w3-margin">
    </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</div>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
     
</body>
</html> 
