.navbar-toggler form {
    display: flex;
    align-items: center;
}

.navbar-toggler form .btn {
    margin-left: 10px;
}
.top {
    background-image: linear-gradient(to right, #00f811, #c4fc2b);
    height: 100px;
    align-items: center;
    width: 90;
}

.navbar {
    margin-top: 50;
    align-items: center;
    text-align: center;
}
.container-sm {
    margin-top: 40px;
    
}
.cards a:hover .card-img-top {
    opacity: 0.8;
    transform: scale(1.1);
  }
.cards{
    width: 400px;
    height: 200px;
}
.card {
    width: 200px;
    height: 200px;
}
.card-img-top{
    width: 400px;
    height: 150px;
}
.card-title
{
    text-align: center;
}
.col-md{
    padding-right: 50%;
    text-align: center;
}
#heading-logo{
    padding-left: 600px;
}
.md-grow{
    width: 500px;
    height: 200px;
}
.button :hover
{
    color: white
}
.button :active
{
    background-color: #c4fc2b;
    color: antiquewhite;
}
.button{
    
    background-color: #ff9f00; 
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    justify-content: right;
    align-items: center;
    
  }
  .center {
    display: flex;
    justify-content: right;
    align-items: center;
  
    
  }
  .line{
    width:135%;
    text-align:left;
    margin-left:0;
    border : 2px solid green;
  }
  .good
  {
    background-image: linear-gradient(to right, #00f811, #c4fc2b);
    height: 100px;
    align-items: center;
    font-size: 32px;
    padding-left: 3%;
    padding-top: 6%;
  }
  .topnav-right {
    float: right;
  }
 .cart :hover
 {
    background-color: gainsboro;
 }
 .cart
{
    width:60px;
    height:50px;
    padding-top: 25%;
    padding-right: 30%
}
.col-sm
{
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    transition: transform 0.3s ease-in-out; 
}
.col-sm:hover {
    transform: scale(1.2);
  }